html,
body {
  font-family: system-ui, ui-sans-serif, sans-serif;
  background-color: #d3d3d3;
  color: black;
  line-height: 1.8;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: black;
    color: lightgray;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: lightgray;
    color: black;
  }
}
